* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  font-family: Arial, sans-serif;
  color: #333; /* Dark text for dark background */
  text-align: center;
  padding: 2rem;
  background-color: #242424; /* Dark background */
}

.header {
  background-color: #f9f9f9; /* Light blue header */
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 150px;
  margin-bottom: 1rem;
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #242424; /* Dark text for light header */
}

.header p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #666; /* Adjusted to a darker shade */
}

.features {
  margin: 2rem 0;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333; /* Dark text for features section */
}

.features ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features li {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  width: calc(33% - 1.5rem);
  padding: 1rem;
  border-radius: 10px;
  background-color: #f0f0f0; /* Light gray background for cards */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.features li h3,
.features li p {
  color: #333; /* Dark text for better contrast */
}

.features li:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #e0e0e0; /* Lighten background on hover */
}

.random-section {
  margin: 2rem 0;
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.random-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333; /* Dark text for features section */
}

.random-section p {
  font-size: 1.2rem;
  color: #666; /* Adjusted to a darker shade */
}

.footer {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #242424; /* Dark background */
  color: #fff; /* Light text for dark background */
  border-radius: 10px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-nav a {
  color: #f9f9f9; /* Light blue text */
  text-decoration: none;
  transition: color 
}